*{margin:0;padding:0;box-sizing:border-box;}

body{
  font-family:"Libre Baskerville", serif;
  background:#e8e3d8;
  color:#222;
  line-height:1.65;
}

.container{
@@ -13,11 +10,12 @@ body{
  margin:0 auto;
}

header{
  background:linear-gradient(#1c1c1c,#0f0f0f);
  padding:40px 0 30px;
  text-align:center;
  color:#fff;

}

header h1{
@@ -52,12 +50,13 @@ header h1{
  border-right:1px solid #b7a476;
}

.navlink:first-child{
  border-left:1px solid #b7a476;
}

.navlink:hover{
  background:#c7b68c;

}

.navlink.active{
@@ -95,9 +94,12 @@ footer{

.post-img {
  display: block;
  margin: 0 auto;
  max-width: 90%;

  height: auto;


}

.post-caption {
@@ -106,3 +108,25 @@ footer{
  font-style: italic;
  opacity: 0.8;
}
